header#header
	.container
		.navbar
			.navbar__left.fleft
				ul.list-inline
					li
						a(href="#")
							strong Bánh Chưng Nương Bắc
					li
						a(href="") Sản phẩm
					li
						a(href="") Blog
			.navbar__title.fleft
				img(src="images/Banhchung-Logo-01-01.png", alt="")
			.navbar__right.fleft
				ul.list-inline
					li
						a(href="#") Truyền thông
					li
						a(href="#") Liên hệ
					li
						a(href="#")
							i.fas.fa-search
			.clear-fix
